mixin activities(modal_title, user_activities)
  button.btn.btn-primary(type="button", data-toggle="modal", data-target="##{modal_title}-modal") Edit #{modal_title}

  .modal.fade(id="#{modal_title}-modal" tabindex="-1", role="dialog", aria-labelledby="activitiesModalLabel")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &#215;
          h4#messageModalLabel.modal-title Select #{modal_title}
        .modal-body
          .container-fluid
            .skill-select
              each category in activities
                h4= category.label.toObject()[locale]
                .row
                  each action in category._skills
                    - var ids = user._skills.map(function (skill) { return skill._id.toString()})
                    - var klass = ids.indexOf(action._id.toString()) >= 0 ? 'selected' : ''
                    .skill-label(class=klass name="#{action._id}")= action.label.toObject()[locale]
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary.submit-activities(id='submit-#{modal_title}' type="button") Save preferences
