.grid-item.user-card
  - var image_uri = card_user.profile.picture || '/images/person_placeholder.gif'
  - var bookmark_uri = curr_user.bookmarks.map((x) => x.toString()).indexOf(card_user._id.toString()) >= 0 ? 'bookmark_active.svg' : 'bookmark_inactive.svg'
  img.bookmark(src='/images/#{bookmark_uri}', data-user-id="#{card_user._id}")
  .profile-info
    .profile-pic(onclick='window.location = "/profile/#{card_user.id}"' class="#{card_user.match}" style="background-image:url('#{image_uri}')", data-toggle="popover" data-trigger="hover" title="#{card_user.profile.name}")
    .name-location
      h3=card_user.profile.name.split(' ')[0]
      h4=card_user.profile.location
      .distance(data-long=card_user.loc.coordinates[0] data-lat=card_user.loc.coordinates[1]) &nbsp;
    hr.separator
    .skill-icons
      each skill in card_user._skills.slice(0, 5)
        .skill-label(class="#{skill.skill_score > 0 ? 'highlight': ''}") #{skill.label[locale]}

  if card_user.aboutMe
    .about-me
      |About Me
    .about-me-note=card_user.aboutMe


  button.btn.btn-success.action-calls(data-toggle="modal", data-target="#requestModal", data-name="#{card_user.profile.name}" data-id="#{card_user.id}" data-skills=card_user._skills) Request