extends layout

block content
  .container
    .row
      .col-md-12
        h3= "A skills exchange"
        p Imagine it like a bazaar. Everyone has supply and demand. Everyone has skills and interests.
        ul
          li On your profile you can show other people what you are looking for and what you are able to provide. You can edit your profile on #[a(href="/account") profile creation].
          li By clicking on #[a(href="/") Bazaar] you can browse through other users in your vicinity and see how much overlap your skills and interests have. The people are sorted by the number of matching attributes.
          li #[span(style="color:orange;") Orange] circle means one or more matches.
          li #[span(style="color:green;") Green] circle means five or more matches. That could be interesting!
          li By clicking on their #[strong names] you open the profile. Here you get some more information.
          li On the profile you also find a send message button. Kind of self-explanatory. If you are looking for older messages, check out the #[a(href="/messages") messages] tab on the top bar.
          li If you think your skills or interests actually fit together, you can meet up and share them. If someone helps you, you can transfer a time coin to his or her bank account and vice versa. To make a transaction, click on coins tab in the top bar or on transfer at the other person’s profile. You can find more information about the concept of time banking below!
    .row
      .col-md-12
        h3= "Bazaar uses Time Banking"
        p Time banking is a neat idea. Basically you receive one coin for one hour of work. You can exchange that coin for an hour of service from another person. It's super flexible and you can always measure how much help you gave!
        p But there’s other people
          a(href='http://ssir.org/articles/entry/the_time_bank_solution')  who have written much more sophisticated things about it
    .row
      .col-md-12
        h3= "Integration through Interaction"
        p This platform aims to connect Germans and refugees. By sharing their skills native germans and refugees might become friends, pick up the other person’s language, or explore other skills they could share. So, see it as a social service. See it as your way to contribute – and also to get back a lot from that.

    .row
      .col-md-12
        h3= "We are in beta"
        p At the moment our service is in beta. Please #[a(href="/contact") give us as much feedback as possible]. We want to develop the service together with you and always improve it.
    .row
      .col-md-12
        h3= "About us"
        p Rory and Thorben met in Rio about a year ago and became pretty good friends.  When discussing the refugee crisis, they decided to make a change. 
        p Rory is still living in the cidade maravilhosa and when he’s not coding for a Bay Area Start-up, you find can him dancing Samba in Copacabana.
        p Thorben just got back from his semester abroad in Rio. At the moment he is pondering his bachelor’s thesis in Berlin. In his free time you find can him yodeling or doing other things Germans do.

