extends ../layout

block content
  .page-header
    h3 Messages

  .row
    .col-md-3
      .sidebar
        .search-box
          input#message-search(type="text" placeholder="Search by name")
        ul.thread-list#thread-list
          each thread, i in threads
            - var participants = thread.participants.map(function(user){return user._id}).sort()
            - var thread_klass = user.unreadThreads.indexOf(thread._id) >= 0 ? 'is-pending' : ''
            li(data-thread-id="#{thread._id}" data-thread-participants=participants class="#{thread_klass}")
              .message-snippet
                img.profile-pic(src=thread.participants[0].profile.picture || "images/person_placeholder.gif")
                .snippet-text
                  - var timestamp = thread.messages.slice(-1)[0].timeSent
                  - var wasToday = timestamp.toDateString() == (new Date()).toDateString()
                  - var wasThisWeek = (new Date() - timestamp) < (1000 * 60 * 60 * 24 * 7)
                  if wasToday
                    .timestamp=('0' + timestamp.getHours()).slice(-2) + ':' + ('0'+ timestamp.getMinutes()).slice(-2)
                  else if wasThisWeek
                    .timestamp=timestamp.toDateString().slice(0, 3)
                  else
                    .timestamp=('0' + timestamp.getDate()).slice(-2) + '/' + ('0' + (timestamp.getMonth() + 1)).slice(-2)
                  .sender=thread.participants[0].profile.name
                  .message-content=thread.messages.slice(-1)[0].message
    .col-md-9
      .conversation-container
        .header#conversation-header
          h3= (threads.length > 0 ? threads[0].participants[0].profile.name : "No messages")
            button.new-message-button#new-message-button New Message
          input#name-input(type="text" placeholder="Type a name..." style="width:80%;display:none;")
        .conversation#conversation-list

        form.message-form
          .form-group
            textarea#text-input(placeholder="Write message" rows=4)
          .form-group
            button#send-button(type="submit") Send message
  script(src='/js/message.js')
  script(type='text/javascript').
    var local_user_data =!{JSON.stringify(user_data)}

