extends ../layout
include ../partials/activities

block content
  .edit-profile-page
    .page-header
      h3 Profile Information

    form.form-horizontal(action='/account/profile', method='POST' enctype="multipart/form-data")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='profilepic') Profile picture
        .col-sm-6
          input(type='file', accept='image/*', name='profilepic', id='profile-pic-input' style='display: none;')
          .account-profile-pic(onclick="$('#profile-pic-input').click();")
            img(id='profile-img' width=200 src='#{user.profile.picture}')
            .upload-message Update photo
      .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', value='#{user.email}')
      .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
      .form-group
        label.col-sm-3.control-label(for='gender') Gender
        .col-sm-6
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
            span Male
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
            span Female
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
            span Other
      .form-group
        label.col-sm-3.control-label(for='status') Status (refugees will be matched with natives and vice versa)
        .col-sm-6
          label.radio.col-sm-4
            input(type='radio', checked=user.profile.status=='refugee', name='status', value='refugee', data-toggle='radio')
            span Refugee
          label.radio.col-sm-4
            input(type='radio', checked=user.profile.status=='native', name='status', value='native', data-toggle='radio')
            span Native
      .form-group
        label.col-sm-3.control-label(for='location') Location
        .col-sm-4
          input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
      .form-group
        label.col-sm-3.control-label(for='hometown') Hometown
        .col-sm-4
          input.form-control(type='text', name='hometown', id='hometown', value='#{user.profile.hometown}')
      .form-group
        label.col-sm-3.control-label(for='aboutme') About me
        .col-sm-4
          textarea.form-control(type='text', name='aboutme', id='aboutme', placeholder='Tell us about yourself...') #{user.aboutMe}
      .form-group#skills-section
        input.activities-data(type='hidden', name='skills', value=JSON.stringify(user._skills))
        label.col-sm-3.control-label(for='skills') Skills (services you would like to offer to others)
        .col-sm-4
           ul.user-activities
            each activity, i in user._skills
              .skill-label= activity.label.toObject()[locale]
           mixin activities("skills", user._skills)
      .form-group#interests-section
        input.activities-data(type='hidden', name='interests', value=JSON.stringify(user._interests))
        label.col-sm-3.control-label(for='interests') Interests (services you would like to receive from others)
        .col-sm-4
           ul.user-activities
             each activity, i in user._interests
              .skill-label= activity.label.toObject()[locale]
           mixin activities("interests", user._interests)
      hr
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Update Profile

  script(src='/js/profile.js')
