extends ../layout

block content
  h3= spotlight_user.profile.name
  .row
    .col-sm-3
      img.img-responsive.img-rounded(src=spotlight_user.profile.picture)
      p= "Hometown: " + spotlight_user.profile.hometown
      p= "Location: " + spotlight_user.profile.location
      p= spotlight_user.profile.gender
      include ../partials/newmessage
    .col-sm-6
      h3= "My skills"
      p.lead= spotlight_user.skills
      h3= "My interests:"
      p.lead= spotlight_user.interests
