extends ../layout

block content
  h3= spotlight_user.profile.name
  .row
    .col-sm-3
      img.img-responsive.img-rounded(src=spotlight_user.profile.picture)
      p= "Hometown: " + spotlight_user.profile.hometown
      p= "Location: " + spotlight_user.profile.location
      include ../partials/newmessage
    .col-sm-6
      h3= "I can offer:"
      p.lead= spotlight_user.skills
      h3= "I am interested in:"
      p.lead= spotlight_user.interests

  script(src='/js/profile.js')
