extends ../layout

block content
  include ../partials/newrequest
  input#csrf_token(type='hidden', name='_csrf', value=_csrf)
  .user-profile
    .row
      .col-md-6.first-box
        .box
          img.profile-pic.img-responsive.img-circle(src=spotlight_user.profile.picture)
          .bio
            h3= spotlight_user.profile.name
            .place= spotlight_user.profile.hometown
            .place= spotlight_user.profile.location
            .place= "Member since " + moment(spotlight_user.createdAt).format('MMM YYYY')
            .place= spotlight_user._skills.length + " skills to share with you"
          h4= "About me"
          p= spotlight_user.aboutMe

        if user._id.toString() == spotlight_user._id.toString()
          a.btn.btn-primary(href="/editprofile") Edit Profile
        else
          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#requestModal", data-name="#{spotlight_user.profile.name}", data-id="#{spotlight_user.id}", data-skills=spotlight_user._skills) Request Exchange

      .col-md-6
        .skills-box
          .box
            h4 I can offer
            each skill in spotlight_user._skills
              .skill-label #{skill.label.toObject()[locale]}

        .skills-box
          .box
            h4 I am interested in
            each interest in spotlight_user._interests
              .skill-label #{interest.label.toObject()[locale]}
    .row
      .col-md-12
        .box
          h3 Reviews
          each review, i in reviews
            .review
              .identity
                .profile-pic
                  img(src="#{review._creator.profile.picture}")
                .name= review._creator.profile.name.split(' ')[0]
              .review-content
                .rating
                  - var num = 0
                  while num < review.rating
                    span ★
                    - num++
                span.breaker ●
                span= review._transaction.service
                span.breaker ●
                time.timestamp #{moment(review.createdAt).format('L')}
                quote= review.text
            hr

  script(src='/js/profile.js')
