extends ../layout

block content
  h3= user.profile.name
  .row
    .col-sm-6
      img(src=user.profile.picture)
      h4= "Hometown: " + user.profile.hometown
    .col-sm-6
      p= user.skills
      p= user.interests
