extends ../layout

block content
  .row.user-list
    each user, i in users
      - var image_uri = user.profile.picture || '/images/person_placeholder.gif'
      .col-md-4

        div.profile-info
          a(href="/profile/" + user.id)
            h3.profile-name=user.profile.name
          .profile-pic(class="#{user.match}" style="background-image:url('#{image_uri}')", data-toggle="popover" data-trigger="hover" title="#{user.profile.name}" data-content="Skills: #{user.skill_labels.join(', ')}" )
