extends ../layout

block content
  include ../partials/acceptModal
  input#csrf_token(type='hidden', name='_csrf', value=_csrf)
  h3 Requests for you

  each request in proposed_transactions
    .request
      img(src=request._sender.profile.picture)
      .request-message
        p #{request._sender.profile.name} has requested #{request.amount} hours of #{request.service_label} with you
        p(data-toggle="modal" data-target="#acceptModal" data-id="#{request._id}").accept Click here to accept

  h3 Other Exchanges
  table.transaction-table
    thead
      tr
        th Service
        th Partner
        th Value
        th Status
        th Confirm
    tbody
      each transaction in other_transactions
        tr
          td= transaction.service_label
          if user.profile.name == transaction._recipient.profile.name
            td= transaction._sender.profile.name
          else
            td= transaction._recipient.profile.name
          td= transaction.amount
          td= transaction.status
          td.confirm(data-id=transaction.id) Click here to confirm
  script(src='/js/transaction.js')