extends ../layout

mixin showTransactions(t_list)
  .transaction-table
    each t, i in t_list
      if t._creator._id == user.id
        - var owner_class = 'am-sender'
        - var icon_uri = '/images/arrow_right_up.png'
      else
        - var owner_class = 'am-recipient'
        - var icon_uri = '/images/arrow_left_down.png'
      .request-info(data-id="#{t._id}", class="#{t.status} #{owner_class}" data-status="#{t.status}")
        .panel-container
          a.see-more(data-toggle="collapse", href="#request-collapse-#{t.status}-#{i}", aria-expanded="false", aria-controls="request-collapse")
            .content
              img.direction(src=icon_uri)
              img.img-circle(width=30 src="#{t.other_person.profile.picture}")
              span= t.other_person.profile.name
              .skill-label #{t.service.label[locale]}
            time.timestamp #{moment(t.createdAt).fromNow()}
        .collapse.action-section(id="request-collapse-#{t.status}-#{i}")
          .intro #{t._messages[0].message}
          .responses
            if t._creator._id == user.id
              button.btn.btn-danger.cancel Cancel
            else
              button.btn.btn-success.accept(data-toggle="modal", data-target="#acceptModal") Accept
              button.btn.btn-primary.chat Chat
              button.btn.btn-danger.reject Reject
          .messaging
            .conversation
              each message in t._messages
                .message-details(class='#{message._sender == user.id ? "myself" : "other-person"}')
                  .comment #{message.message}
                  .author #{message._sender == user.id ? user.profile.name : t.other_person.profile.name}

            form.message-form
              textarea.text-input(placeholder="Write message" rows=4)
              button.btn.btn-secondary.btn-md.back-button Back
              button.btn.btn-primary.btn-md.send-button(type="submit") Send message
            hr
            .notice
              button.btn.btn-success(data-toggle="modal", data-target="#reviewModal") Mark as complete
          .confirmation.notice
            .notice-message Your partner has marked this exchange as complete. Please confirm completion
            button.btn.btn-success(data-toggle="modal", data-target="#reviewModal") Confirm exchange
          .confirmation-pending.notice
            .notice-message This exchange is pending confirmation from the other person that it has been completed
          .reviews.notice


block content
  include ../partials/acceptModal
  include ../partials/review
  input#csrf_token(type='hidden', name='_csrf', value=_csrf)
  
  .transaction-page.content-page
    .row.options
      .col-xs-4.exchange-type.selected Proposed
      .col-xs-4.exchange-type Upcoming
      .col-xs-4.exchange-type Complete


    mixin showTransactions (transactions.proposed)
    mixin showTransactions (transactions.upcoming)
    mixin showTransactions (transactions.complete)

  script(src='/js/transaction.js')