extends ../layout

mixin showTransactions(t_list)
  .transaction-table
    each t, i in t_list
      if t._creator._id == user.id
        - var owner_class = 'am-sender'
        - var icon_uri = '/images/arrow_right_up.png'
      else
        - var owner_class = 'am-recipient'
        - var icon_uri = '/images/arrow_left_down.png'
      .request-info(data-id="#{t._id}", class="#{t.status} #{owner_class}" data-status="#{t.status}", data-lng=t.loc.coordinates[0], data-lat=t.loc.coordinates[1])
        .panel-container
          a.see-more(data-toggle="collapse", href="#request-collapse-#{t.status}-#{i}", aria-expanded="false", aria-controls="request-collapse")
            .content
              div
                img.direction(src=icon_uri)
              .identity
                img.img-circle(width=30 src="#{t.other_person.profile.picture}")
                div= t.other_person.profile.name.split(' ')[0]
              span= t.service.label[locale]
              | -
              span.exchange-type= t.request_type
            time.timestamp #{moment(t.createdAt).fromNow()}
        .collapse.action-section(id="request-collapse-#{t.status}-#{i}")
          .loading
            | Loading &nbsp;
            img(src='/images/spinner.svg')
          .proposal
            if t._messages.length > 0
              .intro #{t._messages[0].message}
            .container-fluid
              .responses.row
                if t._creator._id == user.id
                  button.btn.btn-danger.cancel Cancel
                else
                  .col-xs-4
                    button.btn.btn-success.accept(data-toggle="modal", data-target="#acceptModal") Accept
                  .col-xs-4
                    button.btn.btn-primary.chat Chat
                  .col-xs-4
                    button.btn.btn-danger.reject Reject

          .scheduling
            .container-fluid
              .row
                .col-sm-6
                  .map-canvas
                .col-sm-6
                  .location
                    h4.title Location
                    .saved
                      if t.placeName
                        | #{t.placeName}
                      else
                        em= "Suggest a place to meet by clicking the edit button"
                    input.editing.pac-input.controls(value=t.placeName, type="text", placeholder="Search for a place...")
                  .date
                    h4.title Date
                    .saved
                      if t.happenedAt
                        | #{moment(t.happenedAt).format('llll')}
                      else
                        em= "Suggest a time to meet by clicking the edit button"
                    .date-wrapper.editing
                      .input-group.date.datetimepicker(data-value="#{t.happenedAt ? t.happenedAt.getTime() : ''}")
                        input.form-control(type='text', readonly="readonly")
                        span.input-group-addon
                          span.glyphicon.glyphicon-calendar
              .responses.row
                .col-sm-4
                  button.btn.btn-secondary.suggest Edit
                .col-sm-4
                  button.btn.btn-primary.chat Chat
                .col-sm-4
                  button.btn.btn-success(data-toggle="modal", data-target="#confirmationModal") Mark complete

          .messaging
            .conversation
              each message in t._messages
                .message-details(class='#{message._sender == user.id ? "myself" : "other-person"}')
                  .comment #{message.message}
                  .author #{message._sender == user.id ? user.profile.name : t.other_person.profile.name}

            form.message-form
              textarea.text-input(placeholder="Write message" rows=4)
              button.btn.btn-secondary.btn-md.back-button Back
              button.btn.btn-primary.btn-md.send-button(type="submit") Send message

          .confirmation.notice
            .notice-message Your partner has marked this exchange as complete. Please confirm completion
            button.btn.btn-success(data-toggle="modal", data-target="#confirmationModal") Confirm exchange
          .confirmation-pending.notice
            .notice-message This exchange is pending confirmation from the other person that it has been completed
          .reviews.notice


block content
  include ../partials/acceptModal
  include ../partials/confirmationModal
  include ../partials/review
  #suggestModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="acceptModalLabel")
    .modal-dialog(role="document")
      .modal-content
        .modal-body
          .message Your exchange has been updated. We will notify the other participants.
  input#csrf_token(type='hidden', name='_csrf', value=_csrf)
  
  .transaction-page.content-page
    .row.options
      .col-xs-4.exchange-type.selected Proposed
      .col-xs-4.exchange-type Upcoming
      .col-xs-4.exchange-type Complete


    mixin showTransactions (transactions.proposed)
    mixin showTransactions (transactions.upcoming)
    mixin showTransactions (transactions.complete)

  script(src='/js/transaction.js')