extends ../layout

mixin showTransactions(t_list)
  .transaction-table
    each t, i in t_list
      .request-info(data-id="#{t._id}")
        .panel-container
          a.see-more(data-toggle="collapse", href="#request-collapse-#{t.status}-#{i}", aria-expanded="false", aria-controls="request-collapse")
            .content
              img.img-circle(width=30 src="#{t._creator.profile.picture}")
              span= t._creator.profile.name
              em= t.service_label
            time.timestamp #{moment(t.timeSent).startOf('day').fromNow()}
        .collapse(id="request-collapse-#{t.status}-#{i}")
          if t.status == 'proposed'
            .responses
              if t._creator._id == user.id
                button.btn.btn-danger.cancel Cancel
              else
                button.btn.btn-success.accept(data-toggle="modal", data-target="#acceptModal") Accept
                button.btn.btn-danger.reject Reject
          else if t.status == 'accepted'
            .messaging
              .conversation

              form.message-form
                .form-group
                  textarea.text-input(placeholder="Write message" rows=4)
                .form-group
                  button.btn.btn-primary.btn-md.send-button(type="submit") Send message
            hr
            .success-box
              button.btn.btn-success(data-toggle="modal", data-target="#reviewModal") Mark as complete
          else if t.status != 'complete'
            .success-box
              .notice Your partner has marked this exchange as complete. Please confirm completion
              button.btn.btn-success(data-toggle="modal", data-target="#reviewModal") Confirm exchange


block content
  include ../partials/acceptModal
  include ../partials/review
  input#csrf_token(type='hidden', name='_csrf', value=_csrf)
  
  .transaction-page
    .row.options
      .col-xs-4.exchange-type.selected Proposed
      .col-xs-4.exchange-type Upcoming
      .col-xs-4.exchange-type Complete


    mixin showTransactions (transactions.proposed)
    mixin showTransactions (transactions.upcoming)
    mixin showTransactions (transactions.complete)

  script(src='/js/transaction.js')